* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sono;
}

:root {
  --background-color: #2c2a42;
  --border-color: #ddd;
  --input-border-color: #5d5dbd;
  --main-container-color: #fff;
  --input-hover-color: #5d5dbd;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

ul {
  list-style: none;
}

input{
  height: 25px;
  width: 200px;
  padding: 2px 5px;
}

button{
  height: 25px;
  width: 35px;
  background-color: var(--main-container-color);
  border-radius: 5px;
  border-color: var(--input-border-color);
  transition: 0.4s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover{
  background-color: var(--input-hover-color);
  color: var(--main-container-color);
}

.input-and-button{
  display: flex;
  gap: 1rem;
}

#container{
  background-color: var(--main-container-color);
  padding: 1rem;
  border-radius: 10px;
  width: 500px;
}

#main-title, 
#task-form,
#edit-form,
#toolbar,
.todo{
  border-bottom: 1px solid var(--border-color);
  padding: 1rem 0;
}

#main-title{
  text-align: center;
  font-size: 45px;
}

#task-form p,
#edit-form p,
#search-form h4,
#dropdown h4{
  margin-bottom: 0.5rem;
  font-weight: bold;
}

#edit-form-cancel-btn{
  width: 90px;
  display: block;
  margin-top: 1rem;
}

#toolbar{
  display: flex;
}

#search-form{
  border-right: 1px solid var(--border-color);
  padding-right: 2.75rem;
  margin-right: 2.75rem;
}

#dropdown{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 0.5rem;
}

#filter{
  height: 25px;
  text-align: center;
}

.todo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.todo h3{
  font-weight: normal;
  font-size: 15px;
  width: 65%;
}

.todo-btns{
  display: flex;
  gap: 0.5rem;
}

.done{
  background-color: var(--background-color);
  transition: 0.4s;
}

.done h3{
  color: var(--main-container-color);
  text-decoration: line-through; 
  font-style: italic;
}

.hide{
  display: none;
}