* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia;
}

:root {
  --background-color: #2c2a42;
  --border-color: #ddd;
  --input-border-color: #5d5dbd;
  --main-container-color: #fff;
  --input-hover-color: #ddd;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

ul {
  list-style: none;
}

#container {
  background-color: var(--main-container-color);
  padding: 1rem 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

#main-title {
  text-align: center;
  font-size: 2.5rem;
}

#main-title,
#add-task,
#tasks-list {
  margin: 1rem 0;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 2rem;
}

#task-form label,
#search-form label,
#dropdown label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-with-icon{
  position: relative;
  display: inline-block;
}

.input-with-icon i{
  position: absolute;
  left: 4.7px;
  top: 25%;
  pointer-events: none;
}

#task-form input {
  margin-right: 0.5rem;
  height: 30px;
  width: 200px;
  padding: 0.5rem;
  border-radius: 5px;
}

#task-form input[type="submit"] {
  width: 30px;
  padding: 0;
  font-size: 100%;
  background-color: var(--main-container-color);
  cursor: pointer;
  border-color: var(--input-border-color);
}

#task-form input[type="submit"]:hover {
  background-color: var(--input-hover-color);
}

#filters-and-tasks {
  margin: 1rem 0;
  display: flex;
}

#search-form {
  margin-right: 1rem;
  border-right: 1px solid var(--border-color);
  padding-right: 1rem;
}

#search-form .input-with-icon i{
  left: 10px;
}

#search-form input {
  margin-right: 0.5rem;
  height: 30px;
  width: 190px;
  padding: 0.5rem;
  border-radius: 5px;
}

#search-form input[type="submit"] {
  width: 40px;
  padding: 0;
  font-size: 100%;
  background-color: var(--main-container-color);
  cursor: pointer;
  border-color: var(--input-border-color);
}

#search-form input[type="submit"]:hover {
  background-color: var(--input-hover-color);
}

#dropdown {
  margin-left: 0.5rem;
}

#filter {
  height: 30px;
  width: 100px;
  padding-left: 0.5rem;
  font-size: 100%;
  cursor: pointer;
  border-radius: 5px;
}

#tasks-list {
  padding: 0;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid var(--border-color);
  gap: 1rem;
}

.task-inputs {
  display: flex;
  gap: 0.5rem;
}

.task-inputs button {
  width: 35px;
  height: 30px;
  background-color: var(--main-container-color);
  border-color: var(--input-border-color);
  border-radius: 5px;
  cursor: pointer;
}

.task-inputs button:hover {
  background-color: var(--input-hover-color);
}

.done {
  background-color: var(--background-color);
  color: var(--main-container-color);
}

.done p {
  text-decoration: line-through;
}
